pp_controller:
  ros__parameters:
    # [수정됨] 양압(Positive) 채널의 개수 설정 (0 ~ num-1 까지 양압, 나머지 음압)
    num_positive_channels: 8
    
    active_mpc_channels: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
    sensor_filter_alpha: 0.01

    # === per-channel calibration (map-based) ===
    Sensor_calibration:
      atm_offset: 101.325
      b0:
        "0": { offset: 1007.0,  gain: 0.250 }
        "1": { offset: 996.0,   gain: 0.250 }
        "2": { offset: 1001.0,  gain: 0.250 }
        "3": { offset: 1026.0,  gain: 0.250 }
      b1:
        "0": { offset: 981.0,   gain: 0.250 }
        "1": { offset: 1004.0,  gain: 0.250 }
        "2": { offset: 950.0,   gain: -0.02525 }
        "3": { offset: 952.0,   gain: -0.02525 }
      b2:
        "0": { offset: 934.0,   gain: -0.02525 }
        "1": { offset: 948.0,   gain: -0.02525 }
        "2": { offset: 958.0,   gain: -0.02525 }
        "3": { offset: 958.0,   gain: -0.02525 }
        "4": { offset: 666.0,   gain: 0.3150 }    # pos line (핀20)
        "5": { offset: 655.0,   gain: -0.0378 }   # neg line (핀21)
        "6": { offset: 402.0,   gain: 0.6800 }    # macro line (핀22)

    RefTcp:
      enable: true
      host: "169.254.46.254"
      port: 2272
      expect_n: 12
      scale: 0.01

    LinePID:
      pos:
        kp: 4.0
        ki: 1.0
        kd: 0.0
        ref: 400.0
        pwm_index: 12
      
      neg:
        kp: 0.8
        ki: 0.2
        kd: 0.0
        ref: 40.0
        pwm_index: 13
      
      out_min: 0.0
      out_max: 100.0

    Reference_parameters:
      frequency: 1000

    PWM_parameters:
      frequency: 1000
      pid_pos_index: 18
      pid_neg_index: 19

    MPC_parameters:
      NP: 5
      n_x: 1
      n_u: 3
      Ts: 0.004
      Q_values: 20.0
      R_values: 0.1
      pos_ku_micro: 0.5
      pos_ku_macro: 0.1
      pos_ku_atm: 2.0
      neg_ku_micro: 0.5
      neg_ku_macro: 0.05
      neg_ku_atm: 3.0

      pos_ki_micro: 0.5
      pos_ki_macro: 0.05
      pos_ki_atm: 0.5
      neg_ki_micro: 0.4
      neg_ki_macro: 0.05
      neg_ki_atm: 0.5
      
      macro_gain_multiplier: 1.0

    # ROBOTORY chamber volume (Individual Channels)
    channel_volume:
      ch0_ml: 1000
      ch1_ml: 1000
      ch2_ml: 300
      ch3_ml: 300
      ch4_ml: 600
      ch5_ml: 600
      ch6_ml: 1000
      ch7_ml: 1000
      ch8_ml: 300
      ch9_ml: 300
      ch10_ml: 0
      ch11_ml: 0

    system_parameters:
      sensor_print: false
      reference_print: false
      pwm_print: false
      valve_operate: true

    MacroSwitch:
      threshold_kpa: 600.0